.container-profile-pic {
    position: relative;
    width: 50%;
}

.image-profile-pic {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    margin-left: 70px;
    margin-top: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container-profile-pic:hover .image {
    opacity: 0.3;
}

.container-profile-pic:hover .middle {

    opacity: 1;
}

.text {
    background-color: #FFDA44;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}